ProjectsManager/Connected Services/ProjectsManagerService/ProjectsManagerService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://admin.cstechnologies.cz/HostingSystem/ProjectsManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IcarusHosting.Server.HostingSystem.Services" />
  <xs:import schemaLocation="http://admin.cstechnologies.cz/HostingSystem/ProjectsManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://admin.cstechnologies.cz/HostingSystem/ProjectsManagerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddToAccessLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToAccessLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCentaurUserInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCentaurUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IcarusHosting.Server.HostingSystem.Services" minOccurs="0" name="GetCentaurUserInfoResult" nillable="true" type="q1:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebugFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebugFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDebugFlagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEasyWebUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEasyWebUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IcarusHosting.Server.HostingSystem.Services" minOccurs="0" name="GetEasyWebUsersResult" nillable="true" type="q2:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEasyWebVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aApplicationIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEasyWebVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEasyWebVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAccessLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAccessLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IcarusHosting.Server.HostingSystem.Services" minOccurs="0" name="GetLastAccessLogResult" nillable="true" type="q3:AccessLogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAccessLogAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAccessLogAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IcarusHosting.Server.HostingSystem.Services" minOccurs="0" name="GetLastAccessLogAllResult" nillable="true" type="q4:ArrayOfAccessLogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebApplicationInfoComplex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebApplicationInfoComplexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IcarusHosting.Server.HostingSystem.Services" minOccurs="0" name="GetWebApplicationInfoComplexResult" nillable="true" type="q5:HostingWebApplicationInfoComplex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebApplicationListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebApplicationListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IcarusHosting.Server.HostingSystem.Services" minOccurs="0" name="GetWebApplicationListAllResult" nillable="true" type="q6:ArrayOfHostingWebApplicationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebServerListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebServerListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IcarusHosting.Server.HostingSystem.Services" minOccurs="0" name="GetWebServerListAllResult" nillable="true" type="q7:ArrayOfHostingWebServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetDriveConnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetDriveConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IcarusHosting.Server.HostingSystem.Services" minOccurs="0" name="NetDriveConnectResult" nillable="true" type="q8:NetDriveInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetDriveDisconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationIdentifier" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetDriveDisconnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NetDriveDisconnectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSmtpConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSmtpConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReadSmtpConfigResult" nillable="true" type="q10:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestEasyWebAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestEasyWebAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestEasyWebAccessResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestartApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDebugFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="debugFlag" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDebugFlagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWebApplicationMeasurements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWebApplicationMeasurementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IcarusHosting.Server.HostingSystem.Services" minOccurs="0" name="UpdateWebApplicationMeasurementsResult" nillable="true" type="q11:HostingWebApplicationInfoComplex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteSmtpConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationIdentifier" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="smtpConfig" nillable="true" type="q12:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteSmtpConfigResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>